@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Event planer is a new and robust application that puts some of the worlds greatest motivational speakers at your finger tips.
   Addiction, motivation, marrage problems, laziness; these are all valid resons for peaple to not succeed in life. but, with 
    the right mentorship and inspiration, it's possible to not only succeed, but also, to thrive in every aspect of your life.
    You will learn how to effectively set goals, priorities, and completely eleminate procratination</p>
