@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p class="about">Event planner is a new robust application that puts some of the worlds greatest motivational speakers at your finger tips.
   Addiction, motivation, marrage problems, laziness; these are all valid resons that are holding people back from acheiving there goals.
    the right mentorship and inspiration, it's possible to not only succeed, but also to thrive in every aspect of their life.
    You will learn how to effectively set goals, prioritiize, and completely eleminate procratination.</p>
